.header_svg {
	position: absolute;
	right: 270px;
	top: 30px;
	color: white;
}

.header_message {
	position: absolute;
	right: 180px;
	top: 35px;
	color: white;
}

.header_search {
	right: 350px;
	position: absolute;
	top: 20px;
	border-radius: 5px;
	padding: 10px;
	background: #12142b;
	border-color: #12142b;
	color: white;
}
.header_nickname {
	position: absolute;
	right: 210px;
	top: 35px;
	color: white;
}

.header_svg_lougout {
	position: absolute;
	top: 30px;
	right: 100px;
	color: white;
}